<!doctype html>
<html ng-app="linkedInApp">

<head>
    
    <link rel="stylesheet" href="css/normalize.css" />

    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/materialize-extension.min.css">
    
    <link rel="stylesheet" href="style.css" />
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-blue.min.css" /> 
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	 <script src="dialog-polyfil\dialog-polyfill.js"></script>
	 <link rel="stylesheet" type="text/css" href="dialog-polyfil\dialog-polyfill.css" />
	 
	 <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	<title>1312703 ĐỒ ÁN GIỮA KỲ WEB</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body ng-controller="content-controller">
    <div id="my-profile-content">
            <div id="profile-topcard">
                <div class="row my-profile-main">
                    <img class="my-profile-image col" ng-src="{{MyAvatar}}" alt="My Image" />
                    <div class="my-overview col">
                        <div class="my-overview-info row">
                        	<div style=" float: right;">
                            	<button id="But_Infor" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="background:#b0bec5">
                                  <i class="material-icons">border_color</i>
                                </button>
                            </div>
                            <div style="display: inline-block; float: left;">
                                <h1 id="DMy_Name" class="my-name" edit-Your-Name="MyFullName[0] +' '+ MyFullName[1] +' ' + MyFullName[2]"></h1>
                                <br>
                                <p id="DMy_Headline" class="my-headline" edit-My-Headline = "MyHeadline"></p>
                                <p>
                                    <a id="DMy_Working_loaction" edit-Working = "Working.loaction" href="#"></a> |
                                    <a id="DMy_Working_industry" edit-Working = "Working.industry" href="#"></a>
                                </p>
                                <table class="my-summary">
                                    <tr>
                                        <th scope="row"><a href="#">Current</a></th>
                                        <td>
                                            <a ng-repeat="item in Experience | filter: {KetThuc: 'Present'} | limitTo: 3" edit-Current = "item.TenCty"> <span ng-show="!$last">| </span>
                                           </a> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">Previous</a></th>
                                        <td>
                                            <a ng-repeat="item in Experience | filter: {KetThuc: '!Present'} | limitTo: 3" edit-Current = "item.TenCty">
                                                <span ng-show="!$last">, </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><a href="#">Education</a></th>
                                        <td>
                                            <a ng-repeat="edu in MyEducation | limitTo: 1" edit-Current = "edu.TenTruong"></a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
                <div class="row profile-extra">
                    <div class="col link my-wrapper">
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div id="container">
                    <div class="card-body">
                        <h2 class="card-title">Background</h2>
                        <div id="background-content" class="card-content">
                            <div class="b-section">
                                <div class="my-wrapper b-section-header">
                                   	
                                    <h2 class="valign ">Summary</h2>
                                </div>
                               
                                
                               
                               <div  click-to-edit="Summary"></div>
                               
                            </div>
                            <div class="b-section">
                                <div class="my-wrapper b-section-header">
                                   
                                    <h2 class="valign ">Experience</h2>
                                </div>
                                <div ng-repeat="item in Experience">
                                    <div class="row my-bar">
                                        <div style="display: inline-block">
                                            <a href="#"
                                                 class="info-title" edit-Tittle="item.TitleCty"></a>
                                             <br>
                                            <a href="{{item.companyUrl}}" class="info-subtitle" edit-Tittle_Cty="item.TenCty"></a>								
                                            <span class="info-date">{{item.BatDau}} – {{item.KetThuc}}
                                            <span ng-show="item.ThoiGian != ''">({{item.ThoiGian}})</span>
                                            <span ng-show="item.DiaDiem != ''"> | {{item.DiaDiem}}</span>
                                            </span>
                                        </div>
                                        <div class="info-logo" ng-show="item.LogoCty != ''">
                                            <a href="{{item.UrlCty}}">
                                               <img src="{{item.LogoCty}}" /> 
                                            </a>                                    
                                        </div>
                                    </div>
                                    <br>
                                    <p class="description" click-to-edit="item.MoTa"></p>
                                </div>
                            </div>
                            <div class="b-section">
                                <div class="my-wrapper b-section-header">
                                    
                                    <h2 class="valign">Skills</h2>
                                </div>
                                <div id="skills-section">
                                    <div>
                                        <h4>Top Skills</h4>
                                        <div class="skill-pill" ng-repeat="itemskill in MySkills | limitTo: 10">
                                            <a class="btn-skill-count waves-effect waves-light btn">{{itemskill.ChiSo}}</a>
                                            <a class="btn-skill-description" href="#">
                                                {{itemskill.TenSkill}}
                                            </a>
                                        </div>
                                    </div>
                                    <div id="extra-skills" ng-show="MySkills.length > 10">
                                        <h5>{{name[0]}} also knows about...</h5>
                                        <div class="skill-pill" ng-repeat="itemskill in MySkills" ng-show="$index >= 10">
                                            <a class="btn-skill-count waves-effect waves-light btn">{{itemskill.ChiSo}}</a>
                                            <a class="btn-skill-description" href="#">
                                                {{itemskill.TenSkill}}
                                            </a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="b-section background-last-section">
                                <div class="my-wrapper b-section-header">
                                    
                                    <h3 class="valign">Education</h3>
                                </div>
                                <div>
                                    <div class="row my-bar" ng-repeat="edu in MyEducation">
                                        <div style="display: inline-block">
                                            <a href="{{edu.URLTruong}}" class="info-title" edit-School="edu.TenTruong"></a>
                                            <a class="info-subtitle" edit-Tittle_Cty = "edu.TotNghiep"></a>
                                            <span edit-Date= "edu.BatDau">-</span><span edit-Date= "edu.KetThuc" ></span>
                                        </div>
                                        <div class="info-logo">
                                            <a href="{{edu.URLTruong}}">
                                               <img src="{{edu.LogoTruong}}" height="60" /> 
                                            </a>              
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
        
    


    <!-- JQuery -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- Angular Js -->
    <script src="js/angular.min.js"></script>
    <!-- Materialize Js -->
    <script src="js/materialize.min.js"></script>
    <!-- App Js -->
    <script src="js/app.js"></script>
</body>

</html>